{{define "title"}}YouTubeSync{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="mdl-layout__tab-panel">
		<h1>{{template "title" .}}</h1>
	<p>Click {{LINK "login" "here"}} to login.</p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
