{{define "title"}}YouTubeSync{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="mdl-layout__tab-panel">
	<h1> Please allow us access to your public YouTube playlists! </h1>
	<a class="waves-effect waves-light btn" href="{{.BaseURI}}youtubeLogin"></a>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
