{{if eq .AuthLevel "auth"}}

  <a href="{{.BaseURI}}about" class="mdl-layout__tab is-active">About</a>
  <a href="{{.BaseURI}}logout" class="mdl-layout__tab is-active">Logout</a>

{{else}}

  <a href="{{.BaseURI}}about" class="mdl-layout__tab is-active">About</a>

{{end}}
