{{define "title"}}YouTubeSync{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
      <h1> OLA BOSS! </h1>
      <a class="waves-effect waves-light btn" href="{{.BaseURI}}youtubeLogin">Access YouTube</a>
      <div class="row">
      </div>

      {{ range $playlist, $videos := .toDownloadVideosMap }}
            <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                              <span class="card-title">{{ $playlist.Title }}</span>
                              <ul class="collection">
                                    {{ range $video := $videos }}
                                    <li class="collection-item-avatar">
                                          <img src="{{ $video.ThumbnailURL }}" class="circle">
                                          <span class="title">{{ $video.Title }}</span>
                                          <p>
                                                {{ $video.ID }} 
                                          </p>
                                          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                                    </li>
                                    {{ end }}
                              </ul>
                        </div>
                  </div>
            </div>
      {{ end }}

{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
