{{define "title"}}YouTubeSync{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<h1> Please allow us access to your public YouTube playlists! </h1>
	<a class="waves-effect waves-light btn" href="{{.BaseURI}}youtubeLogin">Access YouTube</a>
	{{ range $key, $value := .download_videos_map }}
		<li><strong>{{ $key }}</strong>: {{ $value }}</li>
	{{ end }}
	<div class="row">
        <div class="col s12 m6">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>

      {{ range $key, $value := .toDownloadVideosMap }}
            <li><strong>{{ $key.Title }}</strong>: {{ len $value }}</li>
      {{ end }}

      {{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
