{{define "title"}}YouTubeSync{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
      <h1> OLA BOSS! </h1>
      <a class="waves-effect waves-light btn" href="{{.BaseURI}}youtubeLogin">Access YouTube</a>
      <div class="row">
      </div>

      {{ range $key, $value := .toDownloadVideosMap }}
            <div class="col s12 m6">
                  <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                              <span class="card-title">{{ $key.Title }}</span>
                              <ul>
                                    <li>
                                          <strong>{{ $key.Title }}</strong>: {{ len $value }}
                                    </li>
                              </ul>
                        </div>
                  </div>
            </div>
      {{ end }}

{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}
