{{define "footer"}}
<footer class="mdl-mega-footer">
  <div class="mdl-mega-footer--bottom-section">
    <div class="mdl-logo">
      Made with &#x2764 by <a href="https://github.com/nclandrei" target="_blank">@nclandrei</a>
    </div>
  </div>
</footer>
{{end}}
